body {
  text-align: center;
  padding-bottom: 10%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

input {
  display: block;
}

.border {
  background-color:#2a71d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  position: fixed;
  bottom:0;
  height:2.5rem;
  width: 100%;
  left:0;
}

.twitter {
  color: #fff;
}